#block-seven-content article article.comment {
  display:block;
}

#edit-barplot-help p {
  line-height:2.2em;
}

#block-views-block-operation-viewer-block-1 {
  padding-top:0.75em;
  margin-top:-1em;
  margin-bottom:0.85em;
}

.page-node-type-dataset article footer div {
  padding-top:0;
}

#quadstat-html span,
#quadstat-html a {
  color:green;
  display:none;
}

#quadstat-r-file,
#quadstat-html,
#quadstat-pdf,
#quadstat-shorten {
  float:left;
  padding-right:1em;
  margin-top:0em;
}

#quadstat-pdf span,
#quadstat-pdf a {
  color:red;
}

#quadstat-shorten span,
#quadstat-shorten a {
  color:#0074bd;
}

#quadstat-shorten a {
  font-family:"Courier new", courier, sans-serif, monospace;
}

form div.form-item-pdf, form div.form-item-shorten-option {
  padding-top:0.1em;
}

.view-operation-viewer {
  float:right;
}

.view-operation-viewer div.contextual {
  display:none;
}

.view-operation-viewer .form-item-pdf {
  margin-top:-0.35em;
}

.view-operation-viewer article {
  margin-top:2.2em;
}

.view-operation-viewer .field--name-title {
  display:none;
}

.view-operation-viewer #webform-app-select {
  float:right;
}

#learning-app-select, #webform-app-select {
  width:200px;
}

.view-operation-viewer article {
  display:none;
}

.view-operation-viewer .form-item-v {
  margin: 0em 0 0.75em;
}

.view-operation-viewer footer,
.view-operation-viewer .form-item-shorten,
.view-operation-viewer .form-item-license,
.view-operation-viewer .form-item-inline-data,
.view-operation-viewer .form-item-v1,
.view-operation-viewer .form-item-v2,
.view-operation-viewer .form-item-x,
.view-operation-viewer .form-item- label,
.view-operation-viewer .form-item-html,
.view-operation-viewer .form-item-pdf-file,
.view-operation-viewer .form-item--y-,
.view-operation-viewer .form-item--x- {
  display:none;
}

.highlighted-col-1 {
  background:#ececec;
}

.highlighted-col-2 {
  background:#f5f5f5;
}

.highlighted-col-3 {
  background:#fff;
}

.layout-region-node-footer .layout-region-node-footer__content {
  border-top:none;
}

.field--name-field-dataset-license,
.field--name-field-dataset-doc-lic {
  margin-bottom:1em;
}

.CodeMirror {
  border:1px solid silver;
}

#quadstat-slickgrid-buttons input { 
  margin-right:1em; 
}

#quadstat-slickgrid-buttons { 
  margin-top:1.4em; 
}

.page-content .text-formatted.field--name-body .field__item { 
  margin-bottom:1em; 
  border:1px solid silver; 
  padding:1em 2em;
  height:305px;
  overflow:auto; 
}

.field--name-body.field--type-text-with-summary {
  margin-top:2em;
}

.page-content #edit-body-wrapper {
  margin: 0;
}

.field--name-field-dataset-grid {
  margin-top:0.5em;
}

#edit-field-dataset-separator--wrapper--description,
#edit-field-dataset-header--wrapper--description,
#edit-field-dataset-cont-table-wrapper,
#edit-field-dataset-excel-sheet-wrapper,
#edit-field-dataset-excel-column-names-wrapper,
#edit-field-dataset-file-wrapper,
#edit-field-dataset-paste-wrapper,
#edit-field-dataset-header-wrapper,
#edit-field-dataset-separator-wrapper {
  display:none;
}

#edit-field-dataset-history-wrapper { 
  display:none; 
}

.field--name-field-dataset-buttons {
  margin-top:0.5em;
}

.field--name-field-dataset-grid #quadstat-slickgrid .slick-resizable-handle  {
  cursor:col-resize;
}

#edit-field-dataset-grid-edit-wrapper,
.field--name-field-dataset-file {
  margin:1.5em 0 0;
}

#quadstat-slickgrid {
  height: 305px;
}

.slick-headerrow-column input {
  width:80%;
}

#edit-field-dataset-buttons-wrapper {
  margin:-1em 0 1.5em;
}

.slick-headerrow-columns {
  border-bottom:1px dotted #ccc;
}

.slick-headerrow-columns input {
  border:1px solid #ddd;
}

.path-node #edit-field-dataset-grid-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-grid-edit-wrapper {
  display:block;
}

.path-node #edit-field-dataset-grid-edit-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-grid-edit-wrapper {
  display:block;
}

.path-node #edit-field-dataset-buttons-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-buttons-wrapper {
  display:block;
}

.path-node .layout-region-node-main .form-wrapper {
  margin:1.5em 0;
}

.page-node-type-dataset .node__submitted {
  margin-bottom:-0.2em;
}

.page-node-type-dataset #block-managedad {
  padding-top:1em;
}

.layout-region-node-footer {
  margin:-1em 0 2em;
}

body.page-node-type-dataset {
  padding-bottom:3em;
}

#edit-field-dataset-cont-table--wrapper--description {
  display:none;
}

#edit-field-dataset-cont-table--wrapper--description code {
  color:green;
}

#edit-field-dataset-paste-wrapper textarea {
  font-family:monospace;
}

#node-dataset-form .CodeMirror {
  height:150px;
}

.page-node-type-dataset .comment-comment-form.comment-form {
  padding-left:2em;
  border-left: 3px solid #0071b8;
}

#learning-app-select {
  text-align:right;
  z-index:10;
}

body.page-node-type-dataset div.contextual {
  display:none;
}

#block-seven-content article article {
  display:none;
}

#block-seven-content article .form-item-pdf {
  margin-top:-0.35em;
}

#block-seven-content article .field--name-title {
  display:none;
}

#block-seven-content article .form-item-v {
  margin: 0em 0 0.75em;
}

#block-seven-content article article {
  background-color:#f7f7f7;
  padding:0.25em 1em;
  border-radius:8px;
  margin:1em 0;
  border:1px solid #ccc;
}

.view-content { display:none; }

#block-views-block-random-content-block-1 .view-content { display:block; }

#block-seven-content article article .field--name-field-application-comments,
#block-seven-content article article .field--type-entity-reference,
#block-seven-content article article .field--name-comment-body,
#block-seven-content article .field--name-field-operation-help,
#block-seven-content article .form-item-shorten,
#block-seven-content article .form-item-license,
#block-seven-content article .form-item-inline-data,
#block-seven-content article .form-item-v1,
#block-seven-content article .form-item-v2,
#block-seven-content article .form-item-x,
#block-seven-content article .form-item- label,
#block-seven-content article .form-item-html,
#block-seven-content article .form-item-pdf-file,
#block-seven-content article .form-item--y-,
#block-seven-content article .form-item--x- {
  display:none;
}

.block-views-blockembedded-learning-apps-block-1 {
  float:right;
  text-align:right;
}

.view-id-embedded_learning_apps {
  text-align:left;
}
.page-node-type-dataset .block.block-views {
  margin-bottom:0.65em;
}

#dataset-operations {
  width:410px;
  float:right;
}

.page-node-type-dataset article div.views-row {
  padding-top:0;
}

article article footer { 
  display:none;
}

#quadstat-output p:first-child {
  margin-top:0;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #dataset-operations {
    width:300px;
    text-align:right;
  }

  #block-views-block-operation-viewer-block-1 {
    float:right;
    width:300px;
    margin-top:-3.5em;
    margin-bottom:0.2em;
  }

  #block-views-block-operation-viewer-block-1 select {
    margin-bottom:0.5em;
  }
}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .block-views-blockoperation-viewer-block-1,
  .view-operation-viewer,
  #dataset-operations { 
    width: 100%;
    float:none;
  }

  #block-views-block-operation-viewer-block-1 {
    width:100%;
  }

  #block-views-block-operation-viewer-block-1 select {
    margin-bottom:0.5em;
    width:100%;
  }

  .page-node-type-dataset .comment-comment-form.comment-form {
    padding-left:0;
    border: none;
  }
  nav .pager__item {
    display:none;
  }
  nav .pager__item.pager__item--next {
    display:inline-block;
  }
  nav .pager__item.pager__item--first {
    display:inline-block;
  }
}

.webform-submission-form .messages--status {
  padding-bottom:2.5em;
}

