body.page-node-type-operation #edit-barplot-help {
  display:none;
}

.block.block-views.block-views-blockdataset-block-1 {
  margin-bottom:0;
}
form .form-item-v {
  padding-top:0.1em;
}

.form-item.js-form-type-processed-text label { display:none; }

_:-ms-lang(x), form input[data-drupal-selector="edit-operation-dataset-edit"] { padding-bottom:0 !important; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.widget-recent-posts, .view-dataset {
  overflow:hidden !important;
}

.webform-submission-form.webform-submission-add-form {
  margin-top:-0.65em;
}

_:-ms-lang(x), .webform-submission-form.webform-submission-add-form {
  margin-top:-0.7em;
}

select#edit-license.form-select {
  border: 1px solid #A6A6A6;
}

form div.form-item-r-file-checkbox, form div.form-item-pdf, form div.form-item-shorten-option {
  padding-top:0.1em;
}

input[data-drupal-selector="edit-operation-dataset-edit"] { 
  padding: 0.2em 1.3em 0.18em 0.5em !important;
}


#edit-clear-analysis,.form-item.js-form-type-processed-text.form-type-processed-text {
  text-align: right;
  display: inline;
  float: right;
  margin-top: -0.75em; 
}

_:-ms-lang(x), form input[data-drupal-selector="edit-operation-clear-analysis"] { padding-bottom:0 !important; }

article .field--name-field-operation-help {
  padding-top:1em;
}

@-moz-document url-prefix() {

  #edit-clear-analysis,.form-item.js-form-type-processed-text.form-type-processed-text {
    margin-top: -0.7em; 
  }

  select {
    padding: 0.25em;
    margin-top: -0.2em;
  }
  #edit-operation-dataset-edit, #edit-operation-dataset-help, input[data-drupal-selector="edit-operation-clear-analysis"] {
    margin: 0.55em 0 0em 0 !important;
  }

  #edit-operation-dataset-help {
    margin-left: 0.5em !important;
  }

  form .form-type-select.js-form-item-license {
  }

  form input[data-drupal-selector="edit-operation-clear-analysis"] {
    margin-left:0.45em !important;
  }

  form input[data-drupal-selector="edit-operation-dataset-edit"] {
  padding: 0.2em 1.3em 0.18em !important;
}
}

form .form-item-inline-data {
  display:none;
  margin-top:-1.5em;
  margin-bottom:1em;
}

.form-item-inline-data textarea {
  font-size:1.5em;
  font-family:monospace;
}

.form-item-license label {
  display:none;
}

.form-item-license {
  width:11em;
}

#quadstat-html span,
#quadstat-html a {
  color:green;
}

#quadstat-r-file,
#quadstat-html,
#quadstat-pdf,
#quadstat-shorten {
  float:left;
  padding-right:1em;
  padding-top:2em;
}

#quadstat-pdf span,
#quadstat-pdf a {
  color:red;
}

#quadstat-shorten span,
#quadstat-shorten a {
  color:#0074bd;
}

#quadstat-r-file span,
#quadstat-r-file a {
  color:purple;
}

#quadstat-shorten a {
  font-family:"Courier new", courier, sans-serif, monospace;
}

.form-item-shorten,
.form-type-webform-document-file {
  display:none;
}

input.form-autocomplete.form-text {
  width:150px;
}

.webform-submission-form .messages {
  overflow-x: scroll;
  margin-bottom:2em;
}

.webform-submission-form .messages--status {
  background-image:none;
}

.CodeMirror { 
  border: 1px solid silver; 
}

.cm-s-default span.cm-semi { 
  color: blue; 
  font-weight: bold; 
}

.cm-s-default span.cm-dollar { 
  color: orange; 
  font-weight: bold; 
}

.cm-s-default span.cm-arrow { 
  color: brown; 
}
.cm-s-default span.cm-arg-is { 
  color: brown; 
}

.field--name-field-operation-help .field__item { 
  height: 300px;
  overflow:auto;
  border: 1px solid silver;
  padding-left:1em;
}

#block-views-block-dataset-block-1 h2,
.field--name-field-operation-help .field__label { 
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.231em; 
}

.field--name-field-operation-help h3,
.field--name-field-operation-help p,
.field--name-field-operation-help code { 
  font-size:smaller; 
}

.field--name-field-operation-help .CodeMirror h3 {
  font-family: "comic sans";
  color: green;
}

#quadstat-slickgrid { 
  height:99px;
}

#block-views-block-dataset-block-1 .view-display-id-block_1 { 
  border:1px solid silver;
  padding:1em 2em;
  border-bottom:1px solid silver;
  padding-bottom:2em;
}

.page-node-type-operation #block-views-block-dataset-block-1 .view-display-id-block_1 {                          
  border:none;
  padding:0;
}

#edit-field-dataset-grid-edit-wrapper,
.field--name-field-dataset-file {
  margin:1.5em;
}

#block-datasetpreviewslickgridblock {
  margin-top:0.25em;
}

.webform-submission-form .form-item-result {
  display:none; 
}

.field--name-field-operation-webform {
  margin-top:1.5em;
}

.page-node-type-operation table td,
.page-node-type-operation table tr { 
  border:none;
}

.page-node-type-operation .pager__items {
  text-align:left;
}

.page-node-type-operation .views-exposed-form #edit-actions {
  clear:none;
}

.views-exposed-form {
  overflow:hidden;
}

.webform-submission-form div.form-action {
  margin-bottom:3em;
}

.highlighted-col-1 {
  background:#ececec;
}

.highlighted-col-2 {
  background:#f5f5f5;
}

.highlighted-col-3 {
  background:#fff;
}

.webform-submission-form #ajax-wrapper,
.webform-submission-form .js-form-item-v1,
.webform-submission-form .js-form-item-v2,
.webform-submission-form .js-form-item-v3,
.webform-submission-form .js-form-item-x {
  display:none;
}

.block-adsense { 
  padding:0em 0 0em;
}

#block-seven-page-title {
  margin-bottom:-0.5em;
}

#block-views-block-dataset-block-1 div.view-filters {
  margin: 0.5em 0 -0.2em;
}

#block-views-block-dataset-block-1 .form-actions {
  display:none;
}

#block-views-block-dataset-block-1 input.form-autocomplete {
  padding: .25em .4em .2em .5em;
}

input[data-drupal-selector="edit-operation-dataset-edit"],
#edit-operation-dataset-edit, 
input[data-drupal-selector="edit-operation-clear-analysis"] {
  margin: 0.7em 0 0em 0;
  border-radius: 2px;
  padding: 0.2em 1.3em 0.21em;
  font-weight: 400;
}

input[data-drupal-selector="edit-operation-clear-analysis"] {
  margin-left:0.20em !important;
  margin-right: -0.20em !important;
}

form .form-item-r-file-checkbox,
form .form-item-license,
form .form-item-shorten-option,
form .form-item-pdf,
form .form-item-v {
  margin:0 0 0 1em;
  float:right;
  padding-bottom:1em;
}

form .form-item-pdf input,
form .form-item-v input {
  margin-right:0.25em;
}

body.page-node-type-operation {
  padding-bottom:3em;
}

#views-exposed-form-dataset-block-1 .js-form-item-title-3 label {
  float:left;
  padding-top:0.3em;
  font-size:0.7em;
  color:#888;
  margin-right:0.75em;
}

#edit-operation-dataset-edit {
  background: url(/modules/custom/quadstat/img/caret-right.svg) no-repeat 99% 63%, -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .form-item-dataset-selected,
  .form-item-dataset-selected select,
  .form-item-title-3,
  .form-item-title-3 input,
  .form-item-dataset-selected-custom,
  .form-item-dataset-selected-custom select {
    width:100% !important;
  }
}

