.field--name-field-dataset-file .field__label,
.field--name-body .field__label { 
  font-weight: bold; 
  margin: 10px 0; 
  font-size: 1.231em; 
}

table thead th, 
table td { 
  border: 1px solid silver; 
}

#quadstat-slickgrid {
  font-family: arial;
  font-size: 8pt;
  border:1px solid silver;
  width: 100%;
  color:#555;
}

.form-type-entity-autocomplete {
  width:213px;
}

.form-type-entity-autocomplete .description {
  display:none;
}

body code {
  border:none;
  background-color:transparent;
}

